<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="./public/stylesheets/main.css" type ="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='./public/javascripts/linkshortener.js'></script>
</head>
<body>
  <div class='container'>
    <div id='opaque'>
      <div class= 'titleDiv'>
        <h1> Link Trimmer </h1>
      </div>
      <div class ="inputDiv">
          <div>
            <label for="longURL"> Please input your long URL below: </label>
            <input type="text" name="longURL" id="longURL" placeholder="http://"/>
          </div>
          <button id='submitButton'> Submit </button>
      </div>
      <div id="shortURL">
      </div>
    </div>
    </div>

</body>
</html>
